python-dotenv
openai
streamlit
langchain
langchain_upstage
langchain_chroma
langchain_community
transformers
tqdm
# instaloader # 제거
emoji
keybert
sentence-transformers
wordcloud
matplotlib
torch
faiss-cpu
apify-client # 추가